{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_goalsahead/dashboard
    Resource selector results.
    Example context (json):
    {}
}}

<tr>
    <td class="
            {{#has_associate_data}}
                {{^is_complete}}
                    text-right
                {{/is_complete}}
                {{#is_complete}}
                    d-flex justify-content-between
                {{/is_complete}}
            {{/has_associate_data}}
            {{^has_associate_data}}
                text-left
            {{/has_associate_data}}" 
        style="width: 5%;min-width: 70px;"
    >
        {{#is_complete}}
            {{#is_unfinished}}
                <span style="font-size: 20px; color: #e3e702;" title="{{str.unfinishedobjective}}">
                    <i class="fa fa-exclamation-triangle"></i>
                </span>
            {{/is_unfinished}}
            {{^is_unfinished}}
                <span style="font-size: 20px; color: #00a505ab;" title="{{str.finishedobjective}}">
                    <i class="fa fa-check"></i>
                </span>
            {{/is_unfinished}}
        {{/is_complete}}
        {{#has_associate_data}}
            <a id="view_detail_{{id}}" class="view-detail" href="javascript:void(0);" data-target="#details_{{id}}" data-toggle="collapse" class="accordion-toggle" style="font-size: 20px; color: Gray;">
                <i class="fa fa-plus-circle"></i>
            </a>
        {{/has_associate_data}}
    </td>
    <td style="text-align:left;width: 60%;">
        <div class="text">
            <i class="fa fa-cubes mr-2"></i>
            {{title}}
        </div>
        {{^is_complete}}
            {{#is_over_time}}
            <div class="">
                <small class="text-muted" title="{{titleendtime}}" style="color: Tomato !important;">
                    <b>{{textoverdue}}</b>
                </small>
            </div>
            {{/is_over_time}}
        {{/is_complete}}
        {{#is_complete}}
        <div>
            <small class="text-muted">
                {{texttimecompletedobjective}}
                <a href="javascript:void(0);" title="{{str.unfinishobjective}}" style="color: Tomato;" class="btn-action" route="action" data-action="unfinish" data-page="objectives" data-id="{{id}}">
                    <i class="fa fa-times-circle fa-sm"></i>
                </a>
            </small>
        </div>
        {{/is_complete}}
    </td>
    <td style="width: 25%;">
        <div>
            <div class="progress" style="border-radius: 4px; height: 1.52rem !important; background-color: #bfbfbf !important;" title="{{progress}}%">
                <div class="progress-bar" role="progressbar" style="width: {{progress}}%;background-color:#{{#is_unfinished}}9b9b9b{{/is_unfinished}}{{^is_unfinished}}00a505ab{{/is_unfinished}} !important;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
                    {{progress}}%
                </div>
            </div>
        </div>
    </td>
    <td style="width: 10%;">
        {{^is_complete}}
            <a href="javascript:void(0);" title="{{str.completeobjective}}" style="font-size: 20px; color: Gray;" class="btn-action" route="action" data-action="complete" data-page="objectives" data-id="{{id}}">
                <i class="fa fa-check-square"></i>
            </a>
        {{/is_complete}}
        <a href="javascript:void(0);" title="{{str.editobjective}}" style="font-size: 20px; color: Gray;" class="btn-form" route="form" data-page="objectives" data-id="{{id}}">
            <i class="fa fa-edit"></i>
        </a>
        <a href="javascript:void(0);" title="{{str.deleteobjective}}" style="font-size: 20px; color: Gray;" class="btn-action" route="action" data-action="delete" data-page="objectives" data-id="{{id}}">
            <i class="fa fa-trash"></i>
        </a>
    </td>
</tr>
{{#has_associate_data}}
<tr>
    <td colspan="4" style="padding: 0 !important;">
        <div class="accordian-body collapse" id="details_{{id}}" style="width:95%; margin: 0 2.5%;">
                <table
                class="table table-borderless"
                style="width: 100%; margin: 0;">
                <tbody>
                    {{#associate_data}}
                        {{#is_objective}}
                            {{> block_goalsahead/dashboard_line_objective }}
                        {{/is_objective}}
                        {{#is_goal}}
                            {{> block_goalsahead/dashboard_line_goal }}
                        {{/is_goal}}
                    {{/associate_data}}
                </tbody>
            </table>
        </div> 
    </td>
</tr>
{{/has_associate_data}}