{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_goalsahead/dashboard
    Resource selector results.
    Example context (json):
    {[
        'str' => [
            'dashboardtitle' => get_string('dashboardtitle', 'block_goalsahead'),
            'objectives' => get_string('objectivesname', 'block_goalsahead'),
            'goals' => get_string('goalsname', 'block_goalsahead')
        ],
        'data' => [
            [
                'id' => 1,
                'is_goal' => false,
                'is_objective' => true,
                'has_associate_data' => true,
                'title' => 'Obj 1',
                'progress' => 70,
                'associate_data' => [
                    [
                        'id' => 2,
                        'is_goal' => true,
                        'is_objective' => false,
                        'title' => 'Meta 1.1',
                        'progress' => 100,
                        'complete' => true
                    ],
                    [
                        'id' => 8,
                        'is_goal' => false,
                        'is_objective' => true,
                        'has_associate_data' => true,
                        'title' => 'Obj 1.1',
                        'progress' => 12,
                        'associate_data' => [
                            [
                                'id' => 2,
                                'is_goal' => true,
                                'is_objective' => false,
                                'title' => 'Meta 1.1.1',
                                'progress' => 74
                            ]
                        ]
                    ]
                ]
            ],
            [
                'id' => 2,
                'is_goal' => true,
                'is_objective' => false,
                'title' => 'Meta 1',
                'progress' => 20
            ],
            [
                'id' => 3,
                'is_goal' => false,
                'is_objective' => true,
                'has_associate_data' => true,
                'title' => 'Obj 2',
                'progress' => 95,
                'associate_data' => [
                    [
                        'id' => 6,
                        'is_goal' => true,
                        'is_objective' => false,
                        'title' => 'Meta 3',
                        'progress' => 5
                    ]
                ]
            ],
            [
                'id' => 4,
                'is_goal' => false,
                'is_objective' => true,
                'title' => 'Obj 3',
                'progress' => 0
            ]
        ]
    ]}
}}
<div>
    <h3>{{str.dashboardtitle}}</h3>
    <div style="display: inline;float: right; margin: 5px;">
        <form id="form_goalsahead" method="post">
            <input type="hidden" value="" name="goalsahead_page">
            <a href="javascript:void(0);" title="{{str.newobjective}}" style="font-size: 20px; color: Gray;" class="btn-form" route="form" data-page="objectives">
                <i class="fa fa-cubes"></i> {{str.objectives}}
            </a>
            <a href="javascript:void(0);" title="{{str.newgoal}}" style="font-size: 20px; color: Gray;" class="btn-form" route="form" data-page="goals">
                <i class="fa fa-cube"></i> {{str.goals}}
            </a>
        </form>
    </div>
    <!-- Verify has data, else no data message -->
    <div style="display: block;">
        <table
            class="table"
            style="width: 100%; margin: 0;">
            {{#data.0}}
                <tbody>
                    {{#data}}
                        {{#is_objective}}
                            {{> block_goalsahead/dashboard_line_objective }}
                        {{/is_objective}}
                        {{#is_goal}}
                            {{> block_goalsahead/dashboard_line_goal }}
                        {{/is_goal}}
                    {{/data}}
                </tbody>
            {{/data.0}}
            {{^data.0}}
                <tfoot>
                    <tr>
                        <td align="center">
                            {{str.objectivesgoalsnotfound}}
                        </td>
                    </tr>
                </tfoot>
            {{/data.0}}
        </table>
    </div>
</div>