{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_goalsahead/dashboard
    Resource selector results.
    Example context (json):
    {}
}}

<tr>
    <td class="text-left" style="width: 5%;min-width: 70px;">
        {{#is_complete}}
            {{#is_unfinished}}
                <span style="font-size: 20px; color: #efbb00;" title="{{str.unfinishedgoal}}">
                    <i class="fa fa-exclamation-triangle"></i>
                </span>
            {{/is_unfinished}}
            {{^is_unfinished}}
                <span style="font-size: 20px; color: #00a505ab;" title="{{str.finishedgoal}}">
                    <i class="fa fa-check"></i>
                </span>
            {{/is_unfinished}}
        {{/is_complete}}
    </td>
    <td style="text-align:left; width: 60%;">
        <div class="text" title="{{description}}">
            <i class="fa fa-cube mr-2"></i>
            {{title}}
        </div>
        {{^is_complete}}
            {{#is_over_time}}
            <div class="">
                <small class="text-muted" title="{{titleendtime}}" style="color: Tomato !important;">
                    <b>{{textoverdue}}</b>
                </small>
            </div>
            {{/is_over_time}}
        {{/is_complete}}
        {{#is_complete}}
        <div class="">
            <small class="text-muted">
                {{texttimecompletedgoal}}
                {{#is_unfinished}}
                <a href="javascript:void(0);" title="{{str.unfinishgoal}}" style="color: Tomato;" class="btn-action" route="action" data-action="unfinish" data-page="goals" data-id="{{id}}">
                    <i class="fa fa-times-circle fa-sm"></i>
                </a>
                {{/is_unfinished}}
                {{^is_unfinished}} {{^progressenable}}
                <a href="javascript:void(0);" title="{{str.unfinishgoal}}" style="color: Tomato;" class="btn-action" route="action" data-action="unfinish" data-page="goals" data-id="{{id}}">
                    <i class="fa fa-times-circle fa-sm"></i>
                </a>
                {{/progressenable}} {{/is_unfinished}}
            </small>
        </div>
        {{/is_complete}}
    </td>
    <td style="width: 25%;">
        <div class="progress" style="border-radius: 4px; height: 1.52rem !important; background-color: #bfbfbf !important;" title="{{progress}}%">
            <div class="progress-bar" role="progressbar" style="width: {{progress}}%;background-color:#{{#is_unfinished}}9b9b9b{{/is_unfinished}}{{^is_unfinished}}00a505ab{{/is_unfinished}} !important;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
                {{progress}}%
            </div>
        </div>
    </td>
    <td style="width: 10%;">
        {{^is_complete}}
            <a href="javascript:void(0);" title="{{str.completegoal}}" style="font-size: 20px; color: Gray;" class="btn-action" route="action" data-action="complete" data-page="goals" data-id="{{id}}">
                <i class="fa fa-check-square"></i>
            </a>
        {{/is_complete}}
        <a href="javascript:void(0);" title="{{str.editgoal}}" style="font-size: 20px; color: Gray;" class="btn-form" route="form" data-page="goals" data-id="{{id}}">
            <i class="fa fa-edit"></i>
        </a>
        {{#progressenable}}
            <a href="javascript:void(0);" title="{{str.progresstrackgoal}}" style="font-size: 20px; color: Gray;" class="btn-form" route="form" data-page="goalprogress" data-goalid="{{id}}">
                <i class="fa fa-tasks"></i>
            </a>
        {{/progressenable}}
        <a href="javascript:void(0);" title="{{str.deletegoal}}" style="font-size: 20px; color: Gray;" class="btn-action" route="action" data-action="delete" data-page="goals" data-id="{{id}}">
            <i class="fa fa-trash"></i>
        </a>
    </td>
</tr>