{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_goalsahead/dashboard
    Resource selector results.
    Example context (json):
    {}
}}

<div role="main">
    <h2>Adicionar novo Objetivo</h2>
    <form action="#" method="post" accept-charset="utf-8" id="form_goals" class="mform">
        <div class="fcontainer clearfix" id="yui_3_17_2_1_1602433895816_123">
            <div id="fitem_id_fullname" class="form-group row fitem has-danger">
                <div class="col-md-4">
                    <span class="float-sm-right text-nowrap">
                        <abbr class="initialism text-danger" title="Necessários"><i class="icon fa fa-exclamation-circle text-danger fa-fw " title="Necessários" aria-label="Necessários"></i></abbr>
                        <a class="btn btn-link p-0" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>O nome completo do curso é apresentado no topo de cada página do curso e na lista de cursos.</p>
                           </div> " data-html="true" tabindex="0" data-trigger="focus">
                            <i class="icon fa fa-question-circle text-info fa-fw " title="Ajuda com Nome completo do curso" aria-label="Ajuda com Nome completo do curso"></i>
                        </a>
                    </span>

                    <label class="col-form-label d-inline " for="id_fullname">
                        Nome do objetivo
                    </label>
                </div>
                <div class="col-md-8 form-inline felement" data-fieldtype="text" id="yui_3_17_2_1_1602433895816_122">
                    <input type="text" class="form-control is-invalid" name="fullname" id="id_fullname" value="" size="50" maxlength="254" aria-describedby="id_error_fullname" aria-invalid="true">
                    <div class="form-control-feedback invalid-feedback" id="id_error_fullname" tabindex="0">
                        - Está faltando o nome do objetivo</div>
                </div>
            </div>
            <div id="fitem_id_shortname" class="form-group row  fitem   ">
                <div class="col-md-4">
                    <span class="float-sm-right text-nowrap">
                        <a class="btn btn-link p-0" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p></p><p>Muitas instituições adotam um nome breve ou código para identificar um curso, algo como
                           BP102 ou COMMS.  Se o seu curso não corresponde a um nome breve real, crie um. Este
                           nome breve será usado em alguns lugares onde a utilização do nome completo não é apropriada
                           (por exemplo: na descrição do assunto das mensagens de email).</p>
                           </div> " data-html="true" tabindex="0" data-trigger="focus">
                            <i class="icon fa fa-question-circle text-info fa-fw " title="Ajuda com Nome breve do curso" aria-label="Ajuda com Nome breve do curso"></i>
                        </a>
                    </span>

                    <label class="col-form-label d-inline " for="id_shortname">
                        Descrição do objetivo
                    </label>
                </div>
                <div class="col-md-8 form-inline felement" data-fieldtype="text">
                    <div id="block_goalsahead_editor"></div>
                    <div class="form-control-feedback invalid-feedback" id="id_error_shortname"></div>
                </div>
            </div>
            <div id="fitem_id_category" class="form-group row  fitem   ">
                <div class="col-md-4">
                    <span class="float-sm-right text-nowrap">
                        <a class="btn btn-link p-0" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>Algumas categorias de curso devem ter sido definidas previamente pelo administrador do sistema.</p>
                           <p>Por exemplo: &quot;Ciências&quot;, &quot;Economia&quot;, &quot;Saúde Pública&quot;, etc.</p>
                           <p>Escolha a categoria mais adequada ao seu curso.
                           A categoria escolhida determina a posição do seu curso
                           na lista de cursos para que os estudantes o encontrem
                           com facilidade.</p>
                           </div> " data-html="true" tabindex="0" data-trigger="focus">
                            <i class="icon fa fa-question-circle text-info fa-fw " title="Ajuda com Categoria do curso" aria-label="Ajuda com Categoria do curso"></i>
                        </a>
                    </span>

                    <label class="col-form-label d-inline " for="id_category">
                        Data de fim
                    </label>
                </div>
                <div class="col-md-8 form-inline felement" data-fieldtype="select">
                    <select class="custom-select" name="category" id="id_category">
                        <option value="1" selected="">Diversos</option>
                    </select>
                    <div class="form-control-feedback invalid-feedback" id="id_error_category"></div>
                </div>
            </div>
            <h4><b>Metas / Objetivos vinculados</b></h4>
            <div id="fitem_id_visible" class="form-group row fitem   ">
                <div class="col-md-4">
                    <span class="float-sm-right text-nowrap">
                        <a class="btn btn-link p-0" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>Esta configuração determina se o curso aparece na lista de cursos e quando os estudantes podem acessá-lo. Se definida como Ocultar, então o acesso é restrito a usuários com permissão de ver cursos ocultos (como professores).</p>
                           </div> " data-html="true" tabindex="0" data-trigger="focus">
                            <i class="icon fa fa-question-circle text-info fa-fw " title="Ajuda com Visibilidade do curso" aria-label="Ajuda com Visibilidade do curso"></i>
                        </a>
                    </span>

                    <label class="col-form-label d-inline " for="id_visible">
                        Tipo de busca
                    </label>
                </div>
                <div class="col-md-8 form-inline felement" data-fieldtype="select">
                    <select class="custom-select" name="visible" id="id_visible">
                        <option value="0" selected>Meta</option>
                        <option value="1">Objetivo</option>
                    </select>
                    <div class="form-control-feedback invalid-feedback" id="id_error_visible"></div>
                </div>
            </div>
            <div id="fitem_id_searchfield" class="form-group row fitem">
                <div class="col-md-12">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="form-group  fitem" style="width: 75%;">
                            <span data-fieldtype="text">
                                <input type="text" style="display: inline-block !important; width: 100%; min-width: 240px !important;" class="form-control " name="idnumber" id="id_idnumber" size="10" maxlength="100">
                            </span>
                        </div>
                        &nbsp;
                        <div class="form-group  fitem">
                            <span data-fieldtype="submit">
                                <button type="button" style="vertical-align: unset; height: 36.49px !important;" class="btn btn-outline-secondary icon-no-margin"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    
                        <div class="form-group  fitem" style="margin-bottom: 2rem; margin-left: 0.5rem;">
                            <span class="float-sm-right text-nowrap">
                                <a class="btn btn-link p-0" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>Esta configuração determina o início da primeira semana para um curso em formato semanal. Também determina a data inicial em que os logs das atividades do curso estarão disponíveis. Se o curso é redefinido e a data de início do curso alterado, todas as datas do curso serão movidos em relação à nova data de início.</p>
                                </div> " data-html="true" tabindex="0" data-trigger="focus">
                                    <i class="icon fa fa-question-circle text-info fa-fw " title="Ajuda com Data de início do curso" aria-label="Ajuda com Data de início do curso"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fdescription required">Este formulário contém campos obrigatórios marcados com <i class="icon fa fa-exclamation-circle text-danger fa-fw " title="Campo obrigatório" aria-label="Campo obrigatório"></i>.</div>
    </form>
</div>